//import before bootstrap!

//set theme colors
$primary:     #383d43;
$secondary:   #282d33;
//$success:   $green;
//$info:      $cyan;
//$warning:   $yellow;
//$danger:    $red;
$light:       #383d43;
$dark:        #181d23;

$accent:      #2574a9;
$accent-dark: #156499;

$best:            #26965b;
$best-bold:       #16a64b;
$prettyGood:      #77a33c;
$prettyGood-bold: #67b32c;
$mediocre:        #a99410;
$mediocre-bold:   #b98400;
