//import before bootstrap!

//set theme colors
$primary:   #383d43;
$secondary: #282d33;
//$success:   $green;
//$info:      $cyan;
//$warning:   $yellow;
//$danger:    $red;
$light:     #383d43;
$dark:      #181d23;
