@import "../../scss/theme.scss";

@import "../../../vendor/bootstrap-4.1.3/scss/functions";
@import "../../../vendor/bootstrap-4.1.3/scss/variables";
@import "../../../vendor/bootstrap-4.1.3/scss/mixins";

html {

  .techMapContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;

    padding: 5px;
    padding-left: 15px;
    background-color: $dark;
    width: 90%;
  }

  .description-area {
    flex: 1 1 auto;
    flex-direction: column;

    border-top: $accent-dark;
    border-top-width: 2px;
    border-top-style: solid;

    margin: 0 -5px -5px -15px;
    padding: 5px;
    background-color: $accent;
    h4 {
      font-weight: 600;
      font-style: italic;
      border-bottom: 2px solid $accent-dark;
    }
  }
}
