<canvas id="{{.AnimationName}}" width="1140" height="300" style="">
</canvas>
<script type="module">
  import initAnimation from "/script/AnimationMain.js"
  initAnimation('#{{.AnimationName}}')
</script>
