<h2 style="text-align:center;"> Contact Me</h2>
<p style="text-align:center;">
  <a href='mailto:job@domain.com'>job@domain.com</a> and check me out on github, <a href='https://github.com/CanadianCommander'>CanadianCommander</a>
</p>
