<link rel="stylesheet", href="/sections/testSection.css">
<div class="border-bottom border-secondary mb-1 pb-1" >
  <h1 class="about-section-heading">Benjamin Benetti</h1>
  <div class="d-inline-flex flex-row-reverse " style="float:right;margin:0.75%;">
    <a href="https://github.com/CanadianCommander"><img src="/media/githubMarkLight.png" style="width:2rem;"/></a>
  </div>
</div>
<p>
  Lets read the words.. the words... what do they say?
</p>
