<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- My CSS -->
    <link rel="stylesheet", href="/index.css">

    <title>Benjamin Benetti</title>
  </head>
  <body>
    <!-- vendor scripts -->
    <script src="/vendor/jquery-3.3.1.min.js"></script>
    <script src="/vendor/bootstrap-4.1.3/bootstrap.min.js"></script>

    <!-- top of page animation -->
    <div class="container no-padding">
      <img src="/media/mugshotEdited_512x512.png" class="portrait bg-dark"/>
      {{template `animation` animation "animationArea"}}
    </div>

    <!--- main content -->
    <div class="container no-padding">
      <div class="container-fluid no-margin bg-primary">
        {{template `staticTemplate` staticTemplate "sections/introduction.gohtml"}}
      </div>
      <div class="container-fluid bg-secondary">
        {{template `staticTemplate` staticTemplate "sections/technicalSkills.gohtml"}}
      </div>
      <div class="container-fluid  bg-primary">
        {{template `staticTemplate` staticTemplate "sections/experience.gohtml"}}
      </div>
      <div class="container-fluid  bg-secondary">
        {{template `staticTemplate` staticTemplate "sections/contact.gohtml"}}
      </div>
      <div class="container-fluid" style="min-height: 200px;">
        <!-- blank element to allow over-scroll -->
      </div>
    </div>

  </body>
</html>
